<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <title>{% block title %}Formulario{% endblock %}</title>
    
    {% endblock %}
    
    
</head>
<body>
    <h1 class="centra">
        FORMULARIO ASESINOS  
    </h1>
    <form class="centra">
		Nombre del jugador:<input type="text", name="nombre_jugador" maxlength="15"> <br>
        <p>Nombre de tu asesino favorito <br>
			<select name="asesino">
				<option value="cazadora">La cazadora</option>
				<option value="payaso">El payaso</option>
			</select>
		</p>
		<p>Metros por segundo <br>
			<select name="metros_por_segundo">
				<option value="3.8">3.8</option>
				<option value="4.4">4.4</option>
                <option value="4.6">4.6</option>
			</select> <br>
        <p>Año en que salió <br>
			<select name="release_year">
				<option value="2016">2016</option>
				<option value="2017">2017</option>
                <option value="2018">2018</option>
				<option value="2019">2019</option>
                <option value="2020">2020</option>
				<option value="2021">2021</option>
                <option value="2022">2022</option>
				<option value="2023">2023</option>
			</select>
		</p> <br><br>
<input type="submit"><input type="reset"> <br>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
<h1 class="centra"><img src="{{ url_for('static', filename='imagenes/arponero.jpg') }}"></h1><br>
<a href="{{ url_for('routes.index') }}">Página principal</a>
<a href="{{ url_for('routes.supervivientes') }}">Supervivientes</a>


	</form>