<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
        <title>{% block title %}Datos{% endblock %}</title>
        
        {% endblock %}
        
        
    </head>
<body>
    <h1 class="centra">Datos del formulario</h1>
    <table  border class="tabla">
        <tr>
            <th>Jugador</th>
            <th>Superviviente favorito</th>
            <th>Asesino favorito</th>
        </tr>
    {% for jugador in jugadores %}
        <tr>
            <td>{{ jugador.Nombre_Jugador }}</td>
            <td>{{ jugador.Nombre_Superviviente }}</td>
            <td>{{ jugador.Nombre_Asesino }}</td>
        </tr>
    {% endfor %}</table>
    <div class="centra"><br>
    <a href="{{ url_for('routes.index') }}">Página principal</a> 
    <a href="{{ url_for('routes.formulario') }}">Formulario</a>
    </div>
</body>