<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
        <title>{% block title %}Datos{% endblock %}</title>
        
        {% endblock %}
        
        
    </head>
<body class="fondo">
    <div class="centra">
    <h1>Datos del formulario</h1>
    <a href="{{ url_for('routes.index') }}">Página principal</a> 
    <a href="{{ url_for('routes.formulario') }}">Formulario</a></div><br>
    <table  border class="tabla">
        <tr>
            <th>ID del jugador</th>
            <th>Jugador</th>
            <th>Superviviente favorito</th>
            <th>Asesino favorito</th>
        </tr>
    {% for jugador in jugadores %}
        <tr>
            <td>{{ jugador.id }}</td>
            <td>{{ jugador.Nombre_Jugador }}</td>
            <td>{{ jugador.Nombre_Superviviente }}</td>
            <td>{{ jugador.Nombre_Asesino }}</td>
        </tr>
    {% endfor %}</table>
    <table>
        <tr>
            <td>ID del jugador que quieres eliminar<form class="centra" action="/borrar_datos" method="post"><input type="text" name="id"><input type="submit"></form></td>
        </tr>
    </table>
</body>