<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <title>{% block title %}Formulario{% endblock %}</title>
    
    {% endblock %}
    
    
</head>
<body>
    <h1 class="centra">
        FORMULARIO DEAD BY DAYLIGHT 
    </h1>
    <form class="centra" action="/formulario_supervivientes" method="post">
		Nombre del jugador:<input type="text", name="nombre_jugador" maxlength="15"> <br>
        <p>Nombre de tu superviviente favorito <br>
			<select name="superviviente_favorito">
				<option value="ada">Ada Wong</option>
				<option value="felix">Felix Richter</option>
			</select>
		</p>
        <p>Nombre de tu asesino favorito <br>
			<select name="asesino_favorito">
				<option value="cazadora">La cazadora</option>
				<option value="oni">El oni</option>
			</select>
		</p>
<input type="submit"><input type="reset"> <br>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
<h1 class="centra"><img src="{{ url_for('static', filename='imagenes/ada.jpg') }}"></h1><br>
<a href="{{ url_for('routes.index') }}">Página principal</a>


	</form>
        
        
        
    
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        {% block footer %}
        
        {% endblock %}
    </div>
    
</body>
</html>
