<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <title>{% block title %}Formulario{% endblock %}</title>
    
    {% endblock %}
    
    
</head>
<body>
    <h1 class="centra">
        FORMULARIO DEAD BY DAYLIGHT  
    </h1>
    <form class="centra">
		Nombre del jugador:<input type="name" maxlength="15"> <br>
        Rol favorito<br>
<input type="radio" name="Sexo">Asesino<br>
<input type="radio" name="Sexo">Superviviente<br>
		Fecha de inicio en el juego <input type="date" name="in"><br>
		Asesino favorito:<input type="name" maxlength="15"> <br>
        Superviviente favorito:<input type="name" maxlength="15"> <br>
 Cuánto te gusta el juego?:
<input type="radio" name="Sexo">Poco
<input type="radio" name="Sexo">Normal
<input type="radio" name="Sexo">Mucho <br><br>
<input type="submit"><input type="reset"> <br>
<img src="{{ url_for('static', filename='imagenes/negra.jpg') }}"> <br>
<a href="{{ url_for('routes.index') }}">Página principal</a>

	</form>
        
        
        
    
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        {% block footer %}
        
        {% endblock %}
    </div>
    
</body>
</html>