<title>{% block title %}Dead by Daylight{% endblock %}</title>



{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    
    <h1 class="centra">PÁGINA DEAD BY DAYLIGHT</h1>
    <div class="centra">
      <img src="{{ url_for('static', filename='imagenes/steve.jpg') }}">
    </div>
    <div class="centra">
    <a href="{{ url_for('routes.supervivientes') }}">Supervivientes</a> <br>
    <a href="{{ url_for('routes.asesinos') }}">Asesinos</a>
    </div>
    
    
    
{% endblock %}
